<div class="form">
    <div class="form__content" id="create_visit_form">
        <div class="form__header">
            <h1 class="form__header-title">Візит до лікаря </h1>
            <button class="form__header-close">close</button>
        </div>
        <p id="error_message">

        </p>
        <div class="form__content-input">
            <input type="text" id="input" class="full__name form-input" required="">
            <label for="input" id="full__name" class="label">ПІБ</label>
            <div class="underline"></div>
        </div>
        <div class="form__content-input select">
            <select class="custom-select priority-select form-input">
                <option disabled selected>Терміновість:</option>
                <option id="option-low" value="low">Звичайна</option>
                <option id="option-normal" value="normal">Пріоритетна</option>
                <option id="option-high" value="high">Невідкладна</option>
            </select>
        </div>
        <div class="form__content-input select">
            <select id="doctor__select" class="custom-select form-input">
                <option class="option" disabled selected>Оберіть лікаря:</option>
                <option class="option" value="Cardiologist">Кардіолог</option>
                <option class="option" value="Dentist">Стоматолог</option>
                <option class="option" value="Therapist">Терапевт</option>
            </select>
        </div>
        <div class="form__content-input">
            <input type="text" id="visit" class="form-input" required="">
            <label for="visit" class="label">Мета візиту</label>
            <div class="underline"></div>
        </div>
        <div class="form__content-input">
            <input type="text" id="description" class="form-input" required="">
            <label for="visit" class="label">Короткий опис візиту</label>
            <div class="underline"></div>
        </div>
        <div class="form__content-buttons">
            <button class="form__content-button button cancel">
                <span>Скасувати</span>
            </button>
            <button data-doctor="" class="form__content-button send-form button">
                <span>Створити візит</span>
            </button>
            <button data-doctor="" class="form__content-button update-form button" style="display: none">
                <span>Зберегти візит</span>
            </button>
        </div>
    </div>
</div>