<header class="header">
    <div class="header__logo">
        <h1 class="header-title">ЕВРО<span>МЕДІКА</span></h1>
    </div>
    <div class="header__items">
        <button class="header__items-btn login__button button  btn-entr" id="authBtn" >
            <span>вхід</span></button>
        <button class="header__items-btn visit__button button btn-entr"  id="createVisitModalBtn">
            <span>Створити візит</span></button>
        <div class="header__user">
            <div class="header__user-img"><img src="@img/secretary-avatar.png" alt=""></div>
            <div class="header__user-email"></div>
        </div>
    </div>
</header>