<div class="login">
    <div class="login__text">
        <p class="login__text-graph">Для початку роботи необхідно авторизуватися.</p>
    </div>
    <div class="login__form-page">
        <div class="login__form-img">
            <img class="imageLogin" src="@img/login-form.png" alt="">
        </div>
        <div class="form-box">
            <form class="form__login" id="form__login">
                <span class="form__login-title">З поверненням!</span>
                <span class="form__login-subtitle">Увійдіть у свій обліковий запис, щоб переглянути сьогоднішніх клієнтів</span>
                <div class="form-container">
                    <label class="input-label">Адреса електронної пошти</label>
                    <input placeholder="user@mail.com" class="form__input" id="form__email" name="email" type="email">
                    <label class="input-label">Пароль</label>
                    <input placeholder="Password" class="form__input" id="form__password" name="email" type="password">
                </div>
                <svg class="loader" viewBox="25 25 50 50">
                    <circle r="20" cy="50" cx="50"></circle>
                </svg>
                <button type="button" class="login__form-btn button"><span>Увійти</span></button>
            </form>
        </div>
    </div>
</div>