<section class="main">
	<div class="bg"></div>
		<div class="main__content">
			<div class="main__content-left toggle__queries">
				<div class="main__filter">
					<h2 class="main__filter-title">Фільтр</h2>
				</div>
				<div class="main__toggle-btn btn-toggle">
					<h5 class="btn-toggle__title">Режими роботи з картками:</h5>
					<button class="toggle-btn btn-toggle__normal active">
						Звичайний режим карток
					</button>
					<button class="toggle-btn btn-toggle__move">
						Режим переміщення карток
					</button>
				</div>
				<form action="" class="main__form form-left">
					<div class="main__input">
						<h5 class="main__description">За заголовком або вмістом:</h5>
						<input type="text" name="text" class="input" id="search" placeholder="Пошук">
					</div>
					<div class="form__content-input main__select">
						<h5 class="main__description">За статусом:</h5>
						<select class="custom-select" id="status">
							<option disabled selected value="">Оберіть статус:</option>
							<option value="status-open">Відкритий</option>
							<option value="status-done">Закритий</option>
						</select>
					</div>
					<div class="form__content-input">
						<h5 class="main__description">Терміновість візиту:</h5>
						<div class="main__select">
							<select class="custom-select" id="priority">
								<option disabled selected value="">Терміновість:</option>
								<option value="low-urgency">Звичайна</option>
								<option value="normal-urgency">Пріоритетна</option>
								<option value="high-urgency">Невідкладна</option>
							</select>
						</div>
					</div>
					<div class="main__button">
						<button class="button show__button"><span>Показати</span></button>
						<button class="button clear__button"><span>Очистити</span></button>
					</div>
				</form>
			</div>
			<div class="main__content-right">
				<div class="main__right-boxes">
					<div class="main__right-box filter__box button">
						<h2 class="main__right-title">Фільтр</h2>
					</div>
					<div class="main__right-box patient__list">
						<h2 class="main__right-title">Список візитів до лікарів</h2>
					</div>
				</div>
				<div class="main__right-wrapper patients-wrapper">
					
				</div>
				<p id="no_visits">Не додано жодного візиту.</p>
		</div>
	</div>
</section>
