.custom-select {
    position: relative;
    color:$clr-primary-dk;
    min-width: rem(250);
    padding: rem(6);
    border-radius: rem(5);
    background-color: $clr-base-lt;
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - rem(20)) calc(0.9em),
        calc(100% - rem(16)) calc(0.9em),
        calc(100% - 2.5em) 0.2em;
    background-size:
        rem(5) rem(5),
        rem(5) rem(5),
        rem(1) 1.5em;
    background-repeat: no-repeat;
    box-shadow: 0 0 0px rem(1) rgba(0, 0, 0, 0.06);
    &:focus {
        background-image:
        linear-gradient(135deg, transparent 50%, gray 50%),
        linear-gradient(45deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    }
    appearance: none;
    &#edit-status {
        min-width: rem(255);
        margin-top: rem(30);
    }
}


@media (max-width: $desktop) {
    .custom-select {
        min-width: rem(200);
        font-size: $fs-micro-pc;
    }
}