//Px to rem math
@use "sass:math";
@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}

//Fonts-size

/* base font size - applied at body / html level */
$fs-base: rem(16);

//Mobile ver
/* heading font sizes */
$fs-h1-mob: rem(27);

/* smaller than heading font sizes */
$fs-milli-mob: rem(15);
$fs-micro-mob: rem(11);
$fs-nano-mob: rem(9);
$fs-pico-mob: rem(8);


//Tablets-ver
/* smaller than heading font sizes */
$fs-milli-tab: rem(11);
$fs-micro-tab: rem(9);
$fs-nano-tab: rem(8);

//PC-ver
/* heading font sizes */
$fs-h1-pc: rem(30);
$fs-h2-pc: rem(22);
$fs-h3-pc: rem(20);
$fs-h4-pc: rem(17);
$fs-h5-pc: rem(15);


/* smaller than heading font sizes */
$fs-milli-pc: rem(14);
$fs-micro-pc: rem(13);
$fs-nano-pc: rem(12);
$fs-pico-pc: rem(10);

//Colors
$clr-primary-l: #e7e7e7;
$clr-primary-lt: #eaeaea;

//Base colors
$clr-base: #6f5cc4;
$clr-base-d: #504190;
$clr-base-lt: #EEE;
$clr-base-dk: #4f4190e8;
$clr-base-ltr: #8f84c0;

//Primary colors
$clr-primary: #43377c;
$clr-primary-ltr: #f5f5f5;
$clr-primary-ltst: #afaeb5;
$clr-primary-dk: #635C73;

//Neutral
$clr-ntrl-min: #fff;
$clr-ntrl-max: #000;

//Status
$clr-sts-blue: #1F78D1;
$clr-sts-green: #1AAA55;

// Underline
$clr-undrln: #333;

// media-queries
$desktop: 1200px;
$tablet: 992px;
$mobile: 768px;